@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  background-color: white;
}

.bg {
  background-repeat: no-repeat;
  background-size: auto 100vh;
}

.gradient-hover:hover {
  background-image: linear-gradient(to right, #fccb90, #d57eeb);
}

.dark .gradient-hover:hover {
  background-image: linear-gradient(
    to right,
    #b8235a 59%,
    #801357 71%,
    #3d1635 84%,
    #1c1a27 100%
  );
}
